.featured-item {


    background-image: url('../../../../public/Lifestyle6.jpg');
    background-repeat: no-repeat;
    background-position: center;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}